@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.calendar-container {
    margin: 20px;
    height:100%;
    /* width:68vw; */
    font-family: 'Jua', sans-serif;
    font-size: 1.5rem;
    display: flex; 
    /* align-items: center; */
    flex-direction: column;   
    justify-content: center;
    border:1px solid black;
    box-sizing: border-box;
}

.calendar-container .control-container {
    display: flex;
    flex-direction: row;
    /* padding-left: 1.5rem; */
    /* border: 1px solid red; */
}

.calendar-container .calendar-header{
    display: flex;
    justify-content: space-between;
}
.calendar-container .title {
    font-size: 2rem;
}

.calendar-container .today {
    /* background-color: red; */
    color: red;
    /* background-color: beige; */
    z-index: 2;
}

.click{
    color:black;
}

.click.active{
    color: blue;
}

/* .calendar-container .circle {
    background-color: black;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    z-index: 1;
    margin: auto;
    text-align: center;
} */

.calendar-container .prev-btn {
    background: none;
    border: none;
}

.calendar-container .next-btn {
    background: none;
    border: none;
}

.calendar-container .today-btn {
    padding: 10px;
    /* width: 10px; */
    /* margin-right: 20px; */
    font-family: 'Jua', sans-serif;
    border-radius: 50%;
    border: none;
}

.calendar-container .category-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    /* width: 50%; */
    /* text-align: center; */
    flex-direction: row;
   
    justify-content: space-around;
    /* align-items: center; */
}

.calendar-container .category-btn {
    padding: 10px 30px;
    color: white;
    /* border-radius: 10%; */
    background:none;
    /* width: 10px; */
    /* margin-right: 20px; */
    font-family: 'Jua', sans-serif;
    font-size: medium;
    border: none;
    /* border: 1px solid black; */
    /* width: 5vw; */
}

.category-btn:nth-child(1) {
    background-color: #443C68;
}

.category-btn:nth-child(2) {
    background-color: #F16767;
}

.category-btn:nth-child(3) {
    background-color: #609966;
}

.category-btn:nth-child(4) {
    background-color: #E7B10A;
}

.category-btn:nth-child(5) {
    background-color: #537FE7;
}

.category-btn:nth-child(6) {
    background-color: black;
    color: white;
}

.calendar-container .week {
    height: 5rem;
    color: #7f7f7f;
    font-size: 1.5rem;
    vertical-align: middle;
}

.calendar-container table {
    text-align: center;
    /* border: 1px solid black; */
}

.calendar-container td {
    /*display:flex;*/
    /* border:1px solid gray; */
    width:8rem;
    height:4rem;
    margin: auto;
    text-align: center;
    vertical-align: top;
    /* padding-top: 1rem; */
    /* border: 1px solid black; */
    
}


.event {
    font-size: 15px;
	background: gray;
	color: white;
	border-radius: 5px;
	padding: 1px;
    text-align: center;
    /* width: 4vw; */
    text-align: center;
    align-items: center;
    /* display:inline-block; */
    display: flex;
    margin: auto;
}

.event-content {
    display: flex;
    background-color: red;
    justify-content: space-between;
    /* align-items: center; */
}



/* 미디어 쿼리 */
/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
   
  } 
  
  /* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
  @media all and (min-width:768px) and (max-width:1023px) { 
  
  } 
  
  /* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
  @media all and (min-width:480px) and (max-width:767px) {
   
  } 
  
  /* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
  @media all and (max-width:479px) {
    .calendar-container {
        display: flex;
    }

    .calendar-container .category-container {
        margin-top: 20px;
    
        /* border: 5px solid palevioletred; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px;
        margin-bottom: 0px;
        /* align-items: center; */
    }

    .calendar-container .category-btn {
        padding: 3px;
        border-radius: 10%;
        background:none;
        /* width: 10px; */
        /* margin-right: 20px; */
        font-family: 'Jua', sans-serif;
        border: none;

        /* border: 1px solid black; */
        /* width: 5vw; */
    }

    .category-btn:nth-child(1) {
        background-color: #443C68;
    }
    
    .category-btn:nth-child(2) {
        background-color: #F16767;
    }
    
    .category-btn:nth-child(3) {
        background-color: #609966;
    }
    
    .category-btn:nth-child(4) {
        background-color: #E7B10A;
    }
    
    .category-btn:nth-child(5) {
        background-color: #537FE7;
    }
    
    .category-btn:nth-child(6) {
        background-color: black;
        color: white;
    }


}
